<html>
    <head>
        <title>Editar Negociacao</title>
        <style>
            .field {
                padding-bottom: 10;
            }

            .info {
                color: red;
            }

            .bloco {
                padding: auto;
                margin-top: 10;
            }
        </style>
    </head>
    <body>
        <h3>Edicao de Negociacao</h3>
        {% if msg %}
            <p4 class="info">{{msg}}</p4>
            <br />
        {% endif %}
        {% if username %}
        <form action="/edit-negociacao/{{ negociacao.id }}" method="POST">
            <label for="ativo_id">Ativo:</label><br>
            <select id="ativo_id" name="ativo_id">
              {% for ativo in ativos %}
                <option value="{{ ativo.codigo }}" {% if ativo.id == negociacao.ativo_id %}selected{% endif %}>{{ ativo.codigo }}</option>
              {% endfor %}
            </select><br>
            <label for="quantidade">Quantidade:</label><br>
            <input type="number" id="quantidade" name="quantidade" value="{{ negociacao.quantidade }}"><br>
            <label for="valor">Valor:</label><br>
            <input type="number" id="valor" name="valor" value="{{ negociacao.valor }}"><br>
            <label for="tipo">Tipo:</label><br>
            <select id="tipo" name="tipo">
              <option value="compra" {% if negociacao.tipo == 'compra' %}selected{% endif %}>Compra</option>
              <option value="venda" {% if negociacao.tipo == 'venda' %}selected{% endif %}>Venda</option>
            </select><br>
            <div class="field">
                <label for="data">Data </label><input id="data" name="data" type="date" maxlength=5 value="{{ negociacao.data }}">
                </div>
            <input type="submit" value="Submit">
          </form> 
                   
        {% endif %}
        <form method="GET" action="/listar-negociacoes">
            <input type="submit" value="Voltar">
    </body>
</html>